/* .google-map-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
} */

.customControls {
    position: absolute;
    bottom: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #bfbfbf;
    z-index: 10;
    align-items: center;
}

.customControls button {
    width: 38px;
    height: 38px;
    font-size: 18px;
    /* border: none; */
    cursor: pointer;
    color: black;
}

.customControls hr {
    width: 30px;
    border: 1px solid #dfdfdf
}

.backButton {
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #bfbfbf;
    z-index: 10;
    align-items: center;
}

.levelControls {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    z-index: 10;
    align-items: center;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    box-shadow: 0px 2px 2px 1px #888888;
}

.levelButton {
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.levelDown {
    color: #AAAAAA;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

.defaultColor {
    color: black;
    font-weight: 500;
}

.defaultColor:hover {
    color: black;
}

.subareaColor {
    font-weight: normal;
    color: #628fa6;
}

.subareaColor:hover {
    color: #ff1900;
}

.toggleSwitch {
    position: absolute;
    bottom: 100px;
    right: 100px;
}