@import url('../styles/css/satoshi.css');

.Header {
    z-index: 1000;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.editModeHeader {
    z-index: 10;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #3888ff;
}

.toggleSwitch {
    position: absolute;
    right: 10px;
    top: 100px;
    padding: 3px 5px 3px 5px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px 100px 100px 100px;
    border: 1px solid #BBBBBB;
    font-family: 'Satoshi-Regular';
    font-size: 10px;
    color: black;
    z-index: 100;
}

.toggleSwitch p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-family: 'Satoshi-Regular';
}

.ensConnectButton {
    position: absolute;
    right: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}