@import url('../styles/css/satoshi.css');

.sideComponent1 {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 350px;
    background-color: #f7f7f7;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    z-index: 100;
}

.closeButton {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 25px;
}

.addForm {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}